.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 1.25rem;
  position: relative;
  list-style-type: none;
}

.lightText {
  color: #999191;
}

.projectPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 2rem;
}

.gridContainer {
width: 90%;
margin: 0 auto;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center; 
  align-items: center; 
}

.nav {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.navLink {
  margin: 0 2.5rem;
  color: #d5dbc7;
  text-decoration: none;
  font-size: 1rem;
}

.navLink:hover {
  color: #a4905c;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.webdevimg {
  opacity: 0.6;
}

.socials {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  
}

.firstAidePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 2rem;
  opacity: 0.9;
}

.backToHome {
  margin: 1rem 0 0;
  margin-top: 2rem;
}

.projectsImg {
opacity: 0.8;
box-shadow: #999191 0px 0px 10px 0px; 
}

.projectsImg:hover {
  opacity: 1;
  box-shadow: #999191 0px 0px 20px 0px; 
}